[client-server]
# Port or socket location where to connect
# port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory

!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/


[mariadb]
plugin_load_add = file_key_management
# Key files that are not encrypted
loose_file_key_management_filename = /opt/key_file/no_encryption_key.key

# Encrypted key file
# loose_file_key_management_filename=/opt/key_file/keyfile.enc
# loose_file_key_management_filekey=FILE:/opt/key_file/no_encryption_key.key
# file_key_management_encryption_algorithm=aes_ctr

# Set encrypt_binlog
encrypt_binlog=ON
