[mysqld]
server-id	 	     = 1
log_bin			     = /var/log/mysql/mysql-bin.log
binlog-format    = row #Very important if you want to receive write, update and delete row events
datadir          = /opt/mysql/server-5.6/data/
