name: PyTest
on:
  push:
  pull_request:
  workflow_dispatch:
env:
  PYTEST_SKIP_OPTION: "not test_no_trailing_rotate_event and not test_end_log_pos"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: 'CPython 3.9', python: '3.9'}
          - {name: 'CPython 3.13', python: '3.13'}
          - {name: 'CPython 3.14', python: '3.14'}
          - {name: 'Pypy 3.7', python: 'pypy-3.7'}
          - {name: 'Pypy 3.10', python: 'pypy-3.10'}
    name: ${{ matrix.name }}
    # ubuntu-latest does not have python 3.7
    runs-on: ubuntu-22.04
    timeout-minutes: 3

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Run database server in docker
        run: |
          docker compose create
          docker compose start
          echo "wait mysql server"

          while :
          do
            if mysql -h 127.0.0.1 --user=root --execute "SELECT version();" 2>&1 >/dev/null && mysql -h 127.0.0.1 --port=3307 --user=root --execute "SELECT version();" 2>&1 >/dev/null; then
              break
            fi
            sleep 1
          done

          echo "run pytest"

      - name: Install dependencies
        run: |
          pip install .
          pip install pytest

      - name: Run tests for mysql-5
        working-directory: pymysqlreplication/tests
        run: pytest -k "$PYTEST_SKIP_OPTION" --db=mysql-5

      - name: Run tests for mysql-8
        working-directory: pymysqlreplication/tests
        run: pytest -k "$PYTEST_SKIP_OPTION" --db=mysql-8

      - name: Run tests for mariadb-10
        working-directory: pymysqlreplication/tests
        run: pytest -k "$PYTEST_SKIP_OPTION" --db=mariadb-10
