name: PyTest
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: 'CPython 3.7', python: '3.7'}
          - {name: 'CPython 3.11', python: '3.11'}
          - {name: 'Pypy 3.7', python: 'pypy-3.7'}
          - {name: 'Pypy 3.9', python: 'pypy-3.9'}
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Run database server in docker
        run: |
          docker compose create
          docker compose start
          echo "wait mysql server"
        
          while :
          do
            if mysql -h localhost --user=root --execute "show global variables like 'binlog_format%';" 2>&1 >/dev/null && mysql -h percona-5.7-ctl --port=3307  --user=root --execute "USE pymysqlreplication_test;" 2>&1 >/dev/null; then
              break
            fi
            sleep 1
          done
          
          echo "run pytest"

      - name: Install dependencies
        run: |
          pip install .
          pip install pytest

      - name: Run test suite
        run: |
          pytest -k "not test_no_trailing_rotate_event and not test_end_log_pos"
